In [6]:
import pandas as pd

#Load the dataset
file_path="D:/data_analyst/AnalyticsProjects/projects/RetailSalesAnalysis/Superstore_working.csv"

df_store=pd.read_csv(file_path,encoding='latin1')
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [7]:
# Show first few rows
df_store.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [10]:
#to check all columns name
df_store.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [11]:
#Data Cleaning & Preparation Process
# Convert 'Order Date' and 'Ship Date' to datetime

df_store['Order Date'] = pd.to_datetime(df_store['Order Date'])
df_store['Ship Date'] = pd.to_datetime(df_store['Ship Date'])

# Check for duplicates
duplicate_count = df_store.duplicated().sum()

# Drop duplicates if any
df_store = df_store.drop_duplicates()

# Check for null values
null_counts = df_store.isnull().sum()

# Standardize column names (lowercase, underscores)
df_store.columns=df_store.columns.str.strip().str.lower().str.replace(' ','_')

duplicate_count, null_counts, df_store.columns.tolist()

(0,
 Row ID           0
 Order ID         0
 Order Date       0
 Ship Date        0
 Ship Mode        0
 Customer ID      0
 Customer Name    0
 Segment          0
 Country          0
 City             0
 State            0
 Postal Code      0
 Region           0
 Product ID       0
 Category         0
 Sub-Category     0
 Product Name     0
 Sales            0
 Quantity         0
 Discount         0
 Profit           0
 dtype: int64,
 ['row_id',
  'order_id',
  'order_date',
  'ship_date',
  'ship_mode',
  'customer_id',
  'customer_name',
  'segment',
  'country',
  'city',
  'state',
  'postal_code',
  'region',
  'product_id',
  'category',
  'sub-category',
  'product_name',
  'sales',
  'quantity',
  'discount',
  'profit'])

In [14]:
# to connect with db using python 
!pip install sqlalchemy pymysql pandas

Requirement already satisfied: sqlalchemy in c:\users\welcome\appdata\local\programs\python\python312\lib\site-packages (2.0.37)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: pandas in c:\users\welcome\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\welcome\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\welcome\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\welcome\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\welcome\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\welcome\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\welcome\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\welcome\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: C:\Users\WELCOME\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip

In [15]:
!pip install --upgrade pip

Requirement already satisfied: pip in c:\users\welcome\appdata\local\programs\python\python312\lib\site-packages (25.0.1)
Collecting pip
  Downloading pip-25.1.1-py3-none-any.whl.metadata (3.6 kB)
Downloading pip-25.1.1-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------- ----- 1.6/1.8 MB 9.3 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 8.3 MB/s eta 0:00:00

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: C:\Users\WELCOME\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip
ERROR: To modify pip, please run the following command:
C:\Users\WELCOME\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip

In [19]:
# import library

from sqlalchemy import create_engine
import pandas as pd

# add the credentials to connect with database
db_user = 'root'
db_password = 'root'
db_host = 'localhost'
db_port = '3306'
db_name = 'superstore_db'

# cmd for mysql
engine = create_engine(f'mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

# upload to database with table name
df_store.to_sql('superstore', con=engine, if_exists='replace', index=False)

print('data uploaded successfully')

data uploaded successfully